# Fundamentals of Data Analysis

# Assessment project 2019

# Doris Zdravkovic




## Analysis of "Tips" dataset

## Introduction

## "Tips" dataset

In order to find out what factors affect tipping behaviour, Bryan and Smith in Practical Data Analysis: Case
Studies in Business Statistics (1995), conducted analysis of food server's tips in one restaurant. Dataset consists of 244 cases which were recorded by a food server during an interval of two and half months in early 1990. The restaurant, located in a suburban shopping mall, was part of a national chain and served a varied menu. In accordance with local law the restaurant offered seating in a non-smoking section for those who requested it. Each record includes a day and time, and taken together they show the serverâ€™s work schedule. There are 7 variables used in a dataset. 

- Firstly, the price of total bill which shows the cost of the meal in US dollars, including tax.

- Secondly, tip given to the waiter, also in US dollars. 

- Thirdly, the waiter recorded the sex of customers. The waiter recorded only the sex of customer who paid for the bill (0 = male, 1 = female)

- Furthermore, it was recorded if there were any smokers in party (0 = Yes, 1 = No)

- Next recorded variable was day of the visit. The waiter recorded tips only taken from Thursday to Sunday as that was the peak of the week in the restaurant (3 = Thur, 4 = Fri, 5 = Sat, 6 = Sun)

- Moreover, it was very important to document time of the day the customers left the restaurant (0 = Day, 1 = Night). There were only two variables, day and night. 

- Finally, what was also crucial to take into account was the size of the party.

# Methods

# Analysis

In this research "Tips" dataset will be analysed and its results will be shown in plots and tables below. I will start with descriptive analysis of most important data.

In [11]:
# Import pandas 
import pandas as pd

In [13]:
# Load the tips data set.
df = pd.read_csv('Tips_dataset.csv')

In [15]:
df.head()

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4

In [16]:
df.tail()

     total_bill   tip     sex smoker   day    time  size
239       29.03  5.92    Male     No   Sat  Dinner     3
240       27.18  2.00  Female    Yes   Sat  Dinner     2
241       22.67  2.00    Male    Yes   Sat  Dinner     2
242       17.82  1.75    Male     No   Sat  Dinner     2
243       18.78  3.00  Female     No  Thur  Dinner     2

In [17]:
df.describe()

       total_bill         tip        size
count  244.000000  244.000000  244.000000
mean    19.785943    2.998279    2.569672
std      8.902412    1.383638    0.951100
min      3.070000    1.000000    1.000000
25%     13.347500    2.000000    2.000000
50%     17.795000    2.900000    2.000000
75%     24.127500    3.562500    3.000000
max     50.810000   10.000000    6.000000